.container{
  margin-top: 20px;
  text-align: center;
}


.openai-input {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 30%;
  text-align: center;
  height: 25px;
  font-size: large;
  outline: none;
}

.openai-button {
  margin-bottom: 30px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: white;
  box-shadow: inset 0 0 0 2px white;
  background-color: transparent;
  height: 48px;
}

.openai-button:hover{
  color: #fff;
  background-color: #616467;
  box-shadow: none;
} 

.openai-image{
  width: 512px;
}

.loading{
  width: 230px;
  height: 250px;
}

.baby-input {
  width: 40%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  border: solid #F2B441;
  margin-bottom: 5px;
  margin-top: 10px;
  outline: none;
}

.baby-radio{
  border: #F2B441 solid;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.baby-favorite-number{
  display: inline;
}

.baby-button{
  border: #F2B441 solid;
  width: 40%;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;

}

h3{
  margin: 0;
  color: antiquewhite;
}

.baby-radio-span{
  padding-right: 15px;
}


.bucket-button{
  width: 30%;
  height: 50px;
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #F2B441;
}

.celebrity-button{
  margin-top: 50px;
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}
  
.celebrity-button:hover{
      box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transform: scale(1.2);
  }

.celebrity-button:active{
    transform: scale(1.5);
  }

.celebrity-h1{
    margin-top: 80px;
    font-size: 48px;
    margin-bottom: 20px;
  }

  .celebrity-input{
    width: 30%;
    height: 30px;
    text-align: center;
    font-size: 24px;
    outline: none;
    border-radius: 10px;
  }

  .celebrity-ready-h1{
    text-transform: capitalize;
  }

  .celebrity-loading-h1{
    margin-top: 10px;
  }

  .celebrity p{
    font-size: 18px;
  }

  .celebrity b{
    color: rgb(255, 184, 91); 
  }

  .celebrity-occupation{
    margin: 0;
  }

  .celebrity a{
    color: #fff !important;
  }

  .facts{
    background-color: antiquewhite;
    margin-top: 150px;
    padding: 20px;
  }

  .facts-button{
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
}


.facts-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .facts-button {
    padding: 0.25em 0.75em;
  }
}

.facts h1{
  color: #000 !important;
  margin-top: 20px !important;
}

.hobby h1{
  font-size: 58px;

}

.hobby a{
  color: white !important;
  font-size: 24px;
}

.hobby label{
  font-size: 42px;
}


.button-89 {
  margin-bottom: 50px;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ffffff;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 30px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}










